@charset "UTF-8";
/* 초기화 */
* {
    margin: 0; padding: 0;
    font-family: Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

#main_header {
    margin: 0;
    padding: 0;
}
#main_header .container {
    width: 100%;
    margin: 0 auto;
    height: 80px;
}
#main_header .logo {
    float: left;
    background-color: yellow;
    width: 200px;
    height: 100%;
}
#main_header .menu {
    float: left;
    background-color: tomato;
    width: calc(100% - 400px);
    height: 100%;
}
#main_header .main_icon {
    float: right;
    background-color: violet;
    width: 200px;
    height: 100%;
}
#main_footer {
    margin: 0;
    padding: 0;
}
#main_footer .footer_container {
    width: 100%;
    height: 100px;
}
#main_footer .com {
    float: left;
    width: 70%;
    height: 100%;
    background-color: darkgoldenrod;
}
#main_footer .number {
    float: left;
    width: 30%;
    height: 100%;
    background-color: rgb(72, 25, 241);
}