@charset "UTF-8";
/* 초기화 */
* {
    margin: 0; padding: 0;
    font-family: Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 0~766 */

.btn_link {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    /* font-size: 1.2rem; */
}

#main_header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow : 0 2px 2px rgba(71, 70, 70, 0.15);
}
#main_header .container {
    margin: 0 auto;
    height: 80px;
    display: flex;
}
#main_header .logo {
    width: 100%;
    position: fixed;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px
}
#main_header .nav {
    background-color: white;
    width: calc(100% - 310px);
    height: 100%;
}

#main_header .nav .gnb {
    display: flex;
    /* justify-content: space-around; */
}
#main_header .nav .gnb > li {
    padding: 30px 20px;
    /* display: flex; */
    font-weight: 500;
    text-align: center;
    width: 25%;
}
#main_header .trigger {
    padding-top: 28px;
    position: fixed;
    right: 10px;
}

#main_header .trigger .hamburger {
    display: none;
    border: 0;
    outline: 0;
}
#main_header .trigger .close {
    border: 0;
    outline: 0;
}
#main_header .nav .gnb .gnb_sub {
    display: none;
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: rgba(63, 63, 62, 0.4);
    height: 80px;
    left: 0;
}

#main_header .nav .gnb .gnb_sub > .lnb {
    width: calc(100% - 400px);
    margin: 0 auto;
    padding-top: 15px;
    overflow: hidden;
}

#main_header .nav .gnb .gnb_sub > .lnb > li {
    float: left;
    padding: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

#main_header .nav .gnb > li:hover .gnb_sub {
    display: block;
}


#main_header .main_icon {
    background-color: white;
    width: 110px;
    height: 100%;
    display: flex;
}
#main_header .main_icon button {
    padding: 0 5px;
    font-size: 22px;
}

#main_header .mobile_menu {
    position: fixed;
    width: 100%;
    background-color: palegoldenrod;
    height: 100%;
    display: block;
}
#main_header .mobile_menu ul {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5;
}


#main_footer {
    margin: 0;
    padding: 0;
    position: relative;
    top: 80px;
}
#main_footer .footer_container {
    display: flex;
    max-width: 1440px;
    height: 300px;
    margin: 0 auto;
    background-color: black;
}
#main_footer .com {
    width: 70%;
    height: 100%;
    color: white;
}

#main_footer .footer_logo {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 16px;
}
#main_footer .footer_info {
    font-size: 75%;
    margin-top: 10px;
}
#main_footer .footer_info > li {
    line-height: 20px;
    padding-left: 16px;
}
.sns_link {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 2.5rem;
}
#main_footer .com .footer_sns {
    display: flex;
    font-size: 36px;
    margin-top: 5px;
}
#main_footer .footer_copy {
    margin-top: 5px;
    font-size: 100%;
    padding-left: 16px;
}
#main_footer .com .footer_sns button {
    padding: 5px 0;
    padding-left: 16px;
}
#main_footer .number {
    width: 30%;
    height: 100%;
    color: white;
}
#main_footer .number .footer_cs {
    display: flex;
    margin-top: 40px;
}
#main_footer .number .footer_cs .footer_cs_inner {
    float: left;
    width: 50%;
}
#main_footer .number .footer_cs .footer_cs_name {
    font-size: 80%;
    font-weight: bold;
}
#main_footer .number .footer_cs .footer_cs_tel{
    font-size: 80%;
    letter-spacing: 2.0px;
}
#main_footer .number .footer_cs .footer_cs_inner {
    float: left;
    width: 50%;
}
#main_footer .number .footer_cs_tip {
    font-size:76%;
}
#main_footer .number > a {
    font-size: 92%;
}
#main_footer .number .footer_menu {
}
#main_footer .number .footer_menu > li {
    line-height: 1.2rem;
    font-size: 80%;
}
#main_footer .com {
    width: 100%;
}
#main_footer .number {
    display: none;
}
#main_header .nav {
    display: none;
}
#main_header .main_icon {
    display: none;
}

/* 테블릿: 557px 이상*/
@media all and (min-width:557px){
#main_footer .footer_container {
    height: 220px;
    }
}

/* 테블릿: 767px 이상*/
@media all and (min-width:767px){
#main_header .container {
    max-width: 1440px;
}
#main_footer .com {
    width: 70%;
}
#main_footer .number {
    display: block;
}
#main_header .nav {
    display: block;
}
#main_header .main_icon {
    display: block;
    position: relative;
}
#main_header .main_icon > div {
    position: absolute;
    top: 20px;
}

#main_header .nav .gnb .gnb_sub {
}

#main_header .logo {
    width: 200px;
    position: static;
    height: 100%;
    padding-top: 0;
}
#main_header .trigger {
    display: none;
}
#main_header .mobile_menu {
    display: none;
}
#main_header .mobile_menu ul {
    display: none;
}
#main_footer .number .footer_cs .footer_cs_name {
    font-size: 80%;
    font-weight: bold;
}
#main_footer .number .footer_cs .footer_cs_tel{
    font-size: 80%;
    letter-spacing: 2.0px;
}
#main_footer .footer_container {
    height: 230px;
}
#main_footer .number .footer_cs_tip {
    font-size:90%;
}
#main_footer .number .footer_cs .footer_cs_name {
    font-size: 90%;
    font-weight: bold;
}
#main_footer .number .footer_cs .footer_cs_tel{
    font-size: 90%;
    letter-spacing: 2.0px;
}

#main_header .nav .gnb .gnb_sub {
    padding: 0 10px;
}

#main_header .nav .gnb {
    /* justify-content: space-around; */
    margin: 0;
}

#main_header .nav .gnb > li {
    padding: 30px 0;
}

}
/* 테블릿: 800px 이상*/
@media all and (min-width:800px){

    #main_header .nav .gnb {
        /* justify-content: space-around; */
        margin: 0 5%;
    }
}
/* 테블릿: 860px 이상*/
@media all and (min-width:860px){
#main_header .nav .gnb .gnb_sub {
    padding: 0 40px;
}
}
/* pc: 1024px 이상 */
@media all and (min-width:1024px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 120px;
}
#main_footer .number .footer_cs .footer_cs_name {
    font-size: 100%;
}
#main_footer .number .footer_cs .footer_cs_tel{
    font-size: 100%;
}
#main_footer .number .footer_menu > li {
    font-size: 100%;
}
#main_footer .footer_info {
    font-size: 100%;
}

#main_header .nav .gnb {
    /* justify-content: space-around; */
    margin: 0 10%;
}

}
/* pc: 1100px 이상 */
@media all and (min-width:1100px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 140px;
}
}
/* pc: 1200px 이상 */
@media all and (min-width:1200px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 150px;
}
}
/* pc: 1300px 이상 */
@media all and (min-width:1300px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 160px;
}
}
/* pc: 1400px 이상 */
@media all and (min-width:1400px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 180px;
}
}
/* pc: 1500px 이상 */
@media all and (min-width:1500px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 220px;
}
}
/* pc: 1600px 이상 */
@media all and (min-width:1600px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 270px;
}
}
/* pc: 1880px 이상 */
@media all and (min-width:1880px){ 
#main_header .nav .gnb .gnb_sub {
    padding: 0 420px;
}
}