@charset "UTF-8";

/* 모바일 */

#main_content {
    margin: 0;
    padding: 0;
}
#main_content > #main_benner {
    height: 800px;
}

#main_content > #main_benner  .swiper-container {
    width: 100%;
    height: 100%;
}

#main_content > #main_benner  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


#main_content > #main_benner .swiper-slide.slide1 {
    background: url('../img/메인배너/main_banner01.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #main_benner .swiper-slide.slide2 {
    background: url('../img/메인배너/main_banner02.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #main_benner .swiper-slide.slide3 {
    background: url('../img/메인배너/main_banner03.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #main_benner .swiper-slide.slide4 {
    background: url('../img/메인배너/main_banner04.jpg');
    background-size: cover;
    background-position:center;
}

#main_content .in_text {
    width: 100%;
    height: 150px;
    background-color: white;
}

#main_content .in_text .txt_01 {
    margin: 80px;
}
#main_content .in_text > p {
    padding: 0 100px;
    font-size: 20px;
}
#main_content .in_text > a {
    padding: 0 100px;
    font-weight: 700;
    margin-top: 12px;
    font-size: 20px;
}
#main_content > #fore_img {
    width: 100%;
    height: 500px;
}
#main_content > #fore_img .img_background {
    display: flex;
    width: 100%;
    height: 100%;
}
#main_content > #fore_img .img_background > .swiper-container {
    width: 100%;
    height: 100%;
    color: rgb(221, 144, 144);
}

#main_content > #fore_img .img_background .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#main_content > #fore_img .img_background .swiper-slide span {
    position: absolute;
    top: 200px;
    font-size: 46px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main_content > #fore_img .img_background .swiper-slide.slide11 {
    background: url('../img/중상단_4개배너/first_bath.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #fore_img .img_background .swiper-slide.slide21 {
    background: url('../img/중상단_4개배너/first_bedroom.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #fore_img .img_background .swiper-slide.slide31 {
    background: url('../img/중상단_4개배너/first_kitchen.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #fore_img .img_background .swiper-slide.slide41 {
    background: url('../img/중상단_4개배너/first_living.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #fore_img .img_background .swiper-slide.slide51 {
    background: url('../img/중상단_4개배너/first_dress.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #fore_img .img_background .swiper-slide.slide61 {
    background: url('../img/중상단_4개배너/first_study.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #mm_nav {
    width: 100%;
    height: 600px;
}
#main_content > #mm_nav > .m_nav {
    height: 100px;
    background-color: white;
}
#main_content > #mm_nav > .m_nav .nav_gnb {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
#main_content > #mm_nav > .m_nav .nav_gnb > li {
    padding: 10px 10px;
    list-style: none;
    position: relative;
    padding-top: 28px;
}
#main_content > #mm_nav > .m_nav .nav_gnb > li::after {
    content:""; 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    width: 0; 
    height: 3px; 
    background-color: black; 
    transition: all .5s;
}
#main_content > #mm_nav > .m_nav .nav_gnb > li::before {
    content:""; 
    position: absolute; 
    right: 50%; 
    bottom: 0; 
    width: 0; 
    height: 3px; 
    background-color: black; 
    transition: all .5s;
}
#main_content > #mm_nav > .m_nav .nav_gnb > li:hover:after { 
    width: 50% 
} 
#main_content > #mm_nav > .m_nav .nav_gnb > li:hover:before {
    width: 50% 
}
#main_content > #mm_nav > #modem {
    width: 100%;
    height: 500px;
    display: flex;
}
#main_content > #mm_nav  > #modem .modem_img {
    width: 65%;
    height: 100%;
}
#main_content > #mm_nav  > #modem .modem_img .modern_img {
    position: relative;
}
#main_content > #mm_nav  > #modem .modem_img .modern_img:hover .textbox {
    opacity: 0.7;
}
#main_content > #mm_nav  > #modem .modem_img .modern_img > img {
    width: 100%;
    height: 500px;
    display: block;
}
#main_content > #mm_nav  > #modem .modem_img .modern_img .textbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(98, 100, 100);
}
#main_content > #mm_nav  > #modem .modem_img .modern_img .textbox .box_text {
    color: rgb(250, 245, 245);
    font-size: 24px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#main_content > #mm_nav > #modem .modem_text {
    width: 35%;
    height: 100%;
    background-color: white;
}
#main_content > #mm_nav > #modem .modem_text > p{
    text-align: center;
    margin-top: 180px;
    font-size: 60px;
    font-weight: 800;
}
#main_content > #m_swiper {
    width: 100%;
    height: 900px;
}
#main_content > #m_swiper >#product_text {
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}
#main_content > #m_swiper > #icon_back {
    width: 100%;
    height: 150px;
    margin: 0;
}

#main_content > #m_swiper > #icon_back .icon_all {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
#main_content > #m_swiper > #icon_back .icon_al1 > p {
    text-align: center;
}
#main_content > #m_swiper > #icon_back .icon_1 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#main_content > #m_swiper > #icon_back .icon_1 img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#main_content > #m_swiper > #icon_back .icon_1:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#main_content > #m_swiper > #icon_back .icon_2 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#main_content > #m_swiper > #icon_back .icon_2 img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#main_content > #m_swiper > #icon_back .icon_2:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#main_content > #m_swiper > #icon_back .icon_3 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#main_content > #m_swiper > #icon_back .icon_3 img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#main_content > #m_swiper > #icon_back .icon_3:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#main_content > #m_swiper > #icon_back .icon_4 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#main_content > #m_swiper > #icon_back .icon_4 img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#main_content > #m_swiper > #icon_back .icon_4:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#main_content > #m_swiper > #icon_back .icon_5 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#main_content > #m_swiper > #icon_back .icon_5 img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#main_content > #m_swiper > #icon_back .icon_5:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#main_content > #m_swiper > #img_back {
    width: 100%;
    height: 700px;
    display: flex;
}
#main_content > #m_swiper > #img_back .three_img {
    width: 70%;
    height: 100%;
}
#main_content > #m_swiper > #img_back .three_img .k_img > img{
    width: 100%;
    height: 100%;
}
#main_content > #m_swiper > #img_back .three_img .two_img {
    width: 100%;
    height: 350px;
    display: flex;
}
#main_content > #m_swiper > #img_back .three_img .two_img .table_img > img {
    width: 100%;
    height: 100%;
}
#main_content > #m_swiper > #img_back .three_img .two_img .chair_img > img {
    width:100%;
    height: 100%;
}
#main_content > #m_swiper > #img_back > .light_img > img {
    width: 100%;
    height: 100%;
}
#main_content > #show {
    width: 100%;
    height: 640px;
}
#main_content > #show > #show_text {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}
#main_content > #show > #show_img {
    width: 100%;
    height: 500px;
}
#main_content > #show > #show_img  .swiper-container {
    width: 100%;
    height: 100%;
}

#main_content > #show > #show_img  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#main_content > #show > #show_img .swiper-slide.slide01 {
    background: url('../img/쇼룸/showroom01.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #show > #show_img .swiper-slide.slide02 {
    background: url('../img/쇼룸/showroom02.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #show > #show_img .swiper-slide.slide03 {
    background: url('../img/쇼룸/showroom03.jpg');
    background-size: cover;
    background-position:center;
}
#main_content > #show > #show_img .swiper-slide.slide04 {
    background: url('../img/쇼룸/showroom04.jpg');
    background-size: cover;
    background-position:center;
}

#main_content > #m_swiper > #icon_back .icon_4 {
    display: none;
}
#main_content > #m_swiper > #icon_back .icon_5 {
    display: none;
}

#main_content > #mm_nav > #modem .modem_text {
    display: none;
}
#main_content > #mm_nav  > #modem .modem_img {
    width: 100%;
}
#main_content > #m_swiper > #img_back .three_img {
    width: 100%;
}
#main_content > #m_swiper > #img_back .three_img .k_img {
    height: 100%;
}
#main_content > #m_swiper > #img_back .three_img .two_img {
    display: none;
}
#main_content > #m_swiper > #img_back > .light_img {
    display: none;
}


/* 테블릿: 767px 이상*/
@media all and (min-width:767px){
    section {
        max-width: 1440px;
        margin: 0 auto;
    }

    #main_content > #m_swiper > #icon_back .icon_4 {
        display: block;
    }
    #main_content > #m_swiper > #icon_back .icon_5 {
        display: block;
    }
    #main_content > #mm_nav > #modem .modem_text {
        display: block;
    }
    #main_content > #m_swiper > #img_back .three_img .two_img {
        display: flex;
    }
    #main_content > #m_swiper > #img_back > .light_img {
        display: block;
    }
    #main_content > #m_swiper > #img_back .three_img .k_img {
        height: 350px;
    }
}

/* pc: 1024px 이상 */
@media all and (min-width:1024px){ 

}